<!-- Sidebar -->
<div class="sidebar bg-light d-flex flex-column flex-shrink-0 p-3" style="width: 250px; border-right: 1px solid #e0e0e0;">
    <span class="fs-4 mt-4"><i class="fa-solid fa-lock" style="color: #000000;"></i> เฉพาะแอดมิน</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link link-dark d-flex align-items-center">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <span><i class="fa-solid fa-chart-line" style="color: #000000;"></i> กราฟและแผนภูมิ</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/manage-product" class="nav-link link-dark d-flex align-items-center">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                <span><i class="fa-solid fa-boxes-stacked" style="color: #000000;"></i> จัดการสินค้า</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/manage-order" class="nav-link link-dark d-flex align-items-center">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                <span><i class="fa-solid fa-user" style="color: #000000;"></i> จัดการออเดอร์</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/manage-customer" class="nav-link link-dark d-flex align-items-center">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                <span><i class="fa-solid fa-user" style="color: #000000;"></i> จัดการสมาชิก</span>
            </a>
        </li>
    </ul>
</div>