<div class="col-md-4 col-lg-3">
    <div class="card mb-4 border-0 shadow-sm" style="border-radius: 10px;">
        <div class="card-header bg-light text-dark text-center" style="font-size: 1.2rem; font-weight: 500;">
            รายละเอียดโปรไฟล์
        </div>
        <div class="card-body text-center" style="padding: 2rem;">
            <i class="fa-solid fa-circle-user" style="color: #6c757d; font-size: 4em;"></i>
            <p class="mt-3" style="font-size: 1rem; color: #333;">ยินดีต้อนรับ, คุณ <%= user.username %></p>
            
            <a href="/user/profile/<%= user._id %>" class="btn btn-outline-dark btn-sm mt-3" style="width: 100%;">รายละเอียดส่วนตัว</a>
            <a href="/user/history" class="btn btn-outline-dark btn-sm mt-2" style="width: 100%;">ดูประวัติการสั่งซื้อ</a>
        </div>
    </div>
</div>