<div class="d-flex mt-5 justify-content-center">
  <section class="about-section text-center">
    <div class="container">
      <h2 class="about-title mb-4">พวกเราคือใคร?</h2>
      <p class="about-text mx-auto mb-4" style="max-width: 800px;">
        องุ่นนอกตำรา เป็นสิ่งที่เราวิจัยมาหลายปี และได้ทดลองจริง ในการพยายามจะปลูกองุ่นให้ได้ทุกสายพันธุ์ในภาคใต้หรือภูเก็ต เนื่องจากประเทศไทยอากาศร้อน 
        จึงมีอุปสรรคเยอะแยะมากมาย เนื่องจากสภาพอากาศก็เป็นปัจจัยหลัก เราได้พิสูจน์แล้วว่ามีพันธุ์ไหนสามารถปลูกได้และพันธุ์ไม่สามารถปลูกได้ 
            สินค้าของเราเน้นอินทรีย์ ปลูกกินเอง เป็นหลัก มีสินค้าที่ใช้ได้ทั้งกับพืชทุกชนิด บางชนิด และองุ่นโดยเฉพาะ พวกเรามุ่งมั่นในการวิจัยและพิสูจน์มาหลายปี 
            และนี่คือผลลัพธ์ของเรา
      </p>
    </div>

    <div id="carouselAboutus" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselAboutus" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselAboutus" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselAboutus" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselAboutus" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="/images/1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/images/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fourth slide label</h5>
                    <p>Some representative placeholder content for the fourth slide.</p>
                </div>
            </div>
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAboutus" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAboutus" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </section>
</div> 