* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
    color: #262323;
    line-height: 1.6;
}

html {
    min-height: 100%;
}

body {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url('https://www.shutterstock.com/image-photo/macro-grey-paper-background-texture-600nw-2478795259.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

main {
    flex: 1;
    display: flex; /* ให้ main ใช้ flex */
    flex-direction: column;
    justify-content: center; 
}


section{
    margin-bottom: 40px;
}

.navbar-brand img{
    height: 60px;
}
.navbaricon {
    font-size: 20px;
}
.navbaricon:hover{
    background-color: rgb(175, 170, 170);
}

a {
    text-decoration: none;
    position: relative;
}

@media screen {
    
}
a:hover {
    text-decoration: underline; 
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-decoration-color: #a8a8a8; 
}

.banner {
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* ------------- ตั้งค่า HOVER ตรงรูปสินค้า--------------- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.position-relative:hover .overlay {
    opacity: 1;
    background-color: rgba(49, 49, 49, 0.5); 
}

.overlay-text {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.position-relative {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.position-relative img {
    transition: opacity 0.3s ease;
}

.position-relative:hover img {
    opacity: 0.4;
}

.form-check-input:checked {
    background-color: #007bff; 
    border-color: #007bff; 
}

/* เปลี่ยนสีเมื่อ hover */
.form-check-input:hover {
    background-color: #5a9bf6; 
    border-color: #5a9bf6;
}

.form-check-input:checked + .form-check-label {
    color: #007bff; 
}

.carousel-item {
    height: 600px; 
}

.carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transition: opacity 0.5s ease;
}

.carousel-item.active {
    opacity: 1;
}

