* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
    color: #333;
    line-height: 1.6;
}

html {
    position: relative;
    height: 100%;
}

body {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: url('https://marketplace.canva.com/EAFUFiGX5ek/1/0/1600w/canva-colorful-watercolor-floral-linktree-background-qRHfsd-4Nmc.jpg') no-repeat center center;
    background-size: cover; /* เพื่อให้ภาพครอบคลุมพื้นที่ทั้งหมด */
}

main {
    flex: 1;
}

.sidebar {
    height: 100vh;
}

section{
    margin-bottom: 40px;
}

.navbar-brand img{
    height: 60px;
}
.navbaricon {
    font-size: 20px;
}
.navbaricon:hover{
    background-color: rgb(175, 170, 170);
}

a:hover {
    background-color: #a8a8a8; /* สีพื้นหลังเมื่อ hover */
}


/* ------------- ตั้งค่า HOVER ตรงรูปสินค้า--------------- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.position-relative:hover .overlay {
    opacity: 1;
    background-color: rgba(49, 49, 49, 0.5); 
}

.overlay-text {
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

.position-relative {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.position-relative {
    position: relative;
}

.position-relative img {
    transition: opacity 0.3s ease;
}

.position-relative:hover img {
    opacity: 0.4;
}
  

