<div class="container-xl px-4 mt-4">

    <hr class="mt-0 mb-4">
    <%- include('../partials/flash') %>
    
    <div class="row">
        <%- include('../partials/sidebarUser') %>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">เปลี่ยนรหัสผ่าน</div>
                <div class="card-body">
                    <form action="/user/change-password/<%= user._id %>" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">ชื่อผู้ใช้:</label>
                            <input type="text" id="username" name="username" class="form-control" value="<%= user.username %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="oldPassword" class="form-label">รหัสผ่านเก่า:</label>
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">รหัสผ่านใหม่:</label> <span class="text-danger">* ต้องมีอย่างน้อย 8 ตัวอักษร</span>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">ยืนยันรหัสผ่านใหม่:</label>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-dark">เปลี่ยนรหัสผ่าน</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

